<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
<div class="top-bar" th:fragment="topbar">
    <div class="container">
        <div class="row d-flex align-items-center">
            <div class="col-md-6 d-md-block d-none">
                <p>Contact CHN on +86 177 5256 3233 or 346780548@qq.com</p>
            </div>
            <div class="col-md-6">
                <div class="d-flex justify-content-md-end justify-content-between">
                    <ul class="list-inline contact-info d-block d-md-none">
                        <li class="list-inline-item"><a href="#"><i class="fa fa-phone"></i></a></li>
                        <li class="list-inline-item"><a href="#"><i class="fa fa-envelope"></i></a></li>
                    </ul>
                    <div class="login" th:if="${session.user==null}"><a href="#" data-toggle="modal" data-target="#login-modal" class="login-btn"><i class="fa fa-sign-in"></i><span class="d-none d-md-inline-block">登录</span></a></div>
                    <div class="user" style="float: left" th:if="${session.user!=null}"><a href="#"  class="login-btn"><i class="fa fa-user"></i><span class="d-none d-md-inline-block" th:text="${session.user.getName()}"></span></a><a href="#"  class="login-btn"><i class="fa fa-sign-out"></i><span class="d-none d-md-inline-block">注销</span></a></div>
                    <ul class="social-custom list-inline">
                        <li class="list-inline-item"><a href="https://github.com/login/oauth/authorize?client_id=aa2fd3ef4d37ce676c47&redirect_uri=http://localhost:8080/callback&scope=user&state=1"><i class="fa fa-github"></i></a></li>
                        <li class="list-inline-item"><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        <li class="list-inline-item"><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li class="list-inline-item"><a href="#"><i class="fa fa-envelope"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>